{% extends 'base.html' %}

{% block head %}

{{ super() }}

<script defer src="{{ url_for('static', filename='users.js') }}"></script>
{% endblock %}

{% block content %}

    <h1>Список пользователей</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Логин</th>
                <th>ФИО</th>
                <th>Роль</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users_list %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.login }}</td>
                    <td>{{ user.last_name }} {{ user.first_name }} {{ user.midle_name }}</td>
                    <td>{{ user.role_name or '' }}</td>
                    <td><a class="btn btn-primary" href="{{ url_for('show_user', user_id = user.id) }}">Просмотр</a></td>
                    {% if current_user.is_authenticated %}
                        <td><a class="btn btn-primary" href="{{ url_for('update_user', user_id = user.id) }}">Редактировать</a></td>
                        <td><button class="btn btn-danger" data-bs-toggle="modal" data-url="{{ url_for('delete_user', user_id = user.id) }}" data-bs-target="#deleteUser">Удалить</button></td>
                    {% endif %}
                    <div class="modal fade" id="deleteUser" data-bs-backdrop="static" data-bs-keyboard="false"
						tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Удаление пользователя</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Вы уверены, что хотите удалить пользователя <span id="userLogin"></span>?</p>
                                    <form class="d-none" action="" method="POST">
                                        <input type="submit" id="deleteUserButton">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Отмена</button>
                                    <label for="deleteUserButton" class="btn btn-danger">Удалить</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if current_user.is_authenticated %}
        <a class="btn btn-primary" href="{{ url_for('new_user') }}">Добавить пользователя</a>
    {% endif %}
    
{% endblock %}