{% extends 'base.html' %}
{% block content %}

    <table class="table">
        <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Логин</th>
                <th>ФИО</th>
                <th>Роль</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user_info %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.login }}</td>
                    <td>{{ user.last_name }} {{ user.first_name }} {{ user.middle_name }}</td>
                    <td>{{ user.role_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}