
{% macro render_user_form(roles, data={}, errors={}, action="edit") %}
    <form method="post">
        <div class="mb-3">
            <label class="form-label" for="last_name">Фамилия</label>
            <input class="form-control {% if 'last_name' in errors %} is-invalid {% endif %}" type="text" name="last_name" id="last_name" value="{{data.last_name or ''}}">
            <div class="invalid-feedback">
                {{ errors.get('last_name') }}
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="first_name">Имя</label>
            <input class="form-control {% if 'first_name' in errors %} is-invalid {% endif %}" type="text" name="first_name" id="first_name" value="{{data.first_name or ''}}">
            <div class="invalid-feedback">
                {{ errors.get('first_name') }}
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="middle_name">Отчество</label>
            <input class="form-control" type="text" name="middle_name" id="middle_name" value="{{data.middle_name or ''}}">
        </div>
        {% if action=="create" %}
        <div class="mb-3">
            <label class="form-label" for="login">Логин</label>
            <input class="form-control {% if 'login' in errors %} is-invalid {% endif %}" type="text" name="login" id="login" value="{{data.login or ''}}">
            <div class="invalid-feedback">
                {{ errors.get('login') }}
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Пароль</label>
            <input class="form-control {% if 'password' in errors %} is-invalid {% endif %}" type="password" name="password" id="password">
            <div class="invalid-feedback">
                {{ errors.get('password') }}
            </div>
        </div>
        {% endif %}
        <div class="mb-3">
            <label class="form-label" for="role">Роль</label>
            <select class="form-select" name="role_id">
                {% for role in roles %}
                    {% if role.id | string == data.role_id %}
                        <option value="{{role.id}}" selected>{{role.name}}</option>
                    {% else %}
                        <option value="{{role.id}}">{{role.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <button class="btn btn-primary">Сохранить</button>
    </form>

{% endmacro %}