{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5">
                <div class="card-header">
                    <h3 class="text-center">Форма для заполнения</h3>
                </div>

                <div class="card-body">
                    <form method="POST">
                        <div class="mb-3">
                            <label class="form-label" for="theme">Тема:</label>
                            <input class="form-control" type="text" name="theme" id="theme" value="{{request.form.theme}}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="msg">Сообщение:</label>
                            <textarea class="form-control" name="msg" id="msg" cols="30" rows="10">{{request.form.msg}}</textarea>
                        </div>
                        
                        <button class="btn btn-primary">Отправить</button>

                    </form>
                    {% if request.method == 'POST'%}
                    <h1 class="mt-3">Данные формы: </h1>
                    <table class="mb-3 mt-3 table">
                        <tbody>
                            <tr>
                                <td>Тема:</td>
                                <td>{{request.form.theme}}</td>
                            </tr>
                            <tr>
                                <td>Сообщение:</td>
                                <td>{{request.form.msg}}</td>
                            </tr>
                        </tbody>
                        
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
