{% extends 'base.html' %}

{% block content %}
<h4 class="mb-3">Изменение пароля</h4>

<form method="POST" class="mb-3" action="{{ url_for('change_password', user_id=user_id) }}">
	<div class="row mb-3">
		<label for="old_password" class="col-sm-2 col-form-label">Старый пароль</label>
		<div class="col-sm-10">
			<input type="text" name="old_password" class="form-control {# input_class #}" id="old_password"
				value="{{ request.form.old_password }}" required>
			<div class="{# div_class #}">
				<p>{# message #}</p>
			</div>
		</div>
	</div>
	<div class="row mb-3">
		<label for="new_password" class="col-sm-2 col-form-label">Новый пароль</label>
		<div class="col-sm-10">
			<input type="text" name="new_password" class="form-control {{ input_class }}" id="new_password"
				value="{{ request.form.new_password }}" required>
			<div class="{{ div_class }}">
				<p>{{ message }}</p>
			</div>
		</div>
	</div>
	<div class="row mb-3">
		<label for="confirm_password" class="col-sm-2 col-form-label">Повторите новый пароль</label>
		<div class="col-sm-10">
			<input type="password" name="confirm_password" class="form-control {{ confirm_input_class }}"
				value="{{ request.form.confirm_password }}" id="confirm_password" required>
			<div class="{{ confirm_div_class }}">
				<p>{{ confirm_message }}</p>
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Сохранить</button>
</form>

{% endblock %}